*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: G4;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}